.cardDiv {
  box-shadow: 10px 10px 5px 0px rgba(59, 59, 59, 0.75);
  margin: 3rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
